.container{
	display: grid;
	grid-gap: 0px;
	grid-template-rows: 2fr 20fr 1fr; 
	height: 100vh;
	padding-right: 0px;
    padding-left: 0px; 
    margin-right: 0px;
    margin-left: 0px;
}

.header{
	grid-row: 1/2;
	background-color: #1a7cad;
}

img{
	margin-left: 50px;
	padding: 10px;
	height: 100px;
	width: 150px;
	float: left;
}

.headtxt{
	font-family: TimesNewRoman;
	font-size: 40px;
	font-weight: bold;
	color: white;
	float: right;
	margin-right: 50px;

}

.main{
	grid-row: 2/3;
	background-color: #e4ecf0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-box{
	border-top: 4px solid #1599eb;
	height: 450px;
	width: 400px;
	background-color: white;
	align-items: center;
	padding: 10px;
	text-align: center;
}

legend{
	float: left;
	font-family: Verdana;
	font-weight: lighter;
	margin-bottom: 25px;
}
input[type="text"],input[type="password"]{
	height: 30px;
	width: 90%;
	margin: 5px;
	padding: 2px;
	border: 1px solid #1599eb;
}

.captcha{
	text-align: center;
	align-items: center;
	width: 50%;
}

.reset{
	float: left;
	color: #1599eb;
}
.SignIn{
	margin-left:150px;
	height: 30px;
	width: 80px;
	background-color: #1a7cad;
	color: white;
}
.footer{
	grid-row: 3/4;
	background-color: #e5d7f5;
	border-bottom: 5px solid black;

}

.ft1{
	padding-left: 10px;
	float: left;
	font-style: bold;
}

.foottxt{
	color: #1a7cad;
}
.ft2{
	padding-right: 10px;
	float: right;
	font-style: bold;
}
.e{
float: left;
width: 30%;
}